.Characteristics {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.container{
    display: flex;
    justify-content: space-between;
}

.characteristics_list{
    display: grid;
    grid-template-columns: repeat(4, 4fr);
    gap: 16px;
}

.characteristics_item{
    border: 1px solid lightgray;
    border-radius: 15px;
    list-style-type: none;
    padding: 22px 24px;
    gap: 16px;
    background-color: white;
    transition: transform 0.2s ease-in-out;
}

.characteristics_item:hover{
    transform: translateY(-2px);

}

.underNumber{
    display: flex;
    font-size: 0.95rem;
    color: grey;
    font-weight: 400;
    margin-left: 3px;
    align-items: end;
    padding-bottom: 5px;
}

.number{
    font-weight: 400;
}

.number_name_characteristics{
    display: flex;
    flex-direction: row;
    font-size: 1.85rem;
    font-weight: 400;
    letter-spacing: 0.05em;
}

