.main_weather{
    border: 1px solid darkgrey;
    border-radius: 15px;
    background-color: white;
    padding: 40px 44px;
    display: flex;
    gap: 32px;
}

.region_info{
    display: flex;
    flex-direction: row;
}

.temperature_info{
    display: flex;
    flex-direction: row;
}

.weather_day{
    display: flex;
    flex-direction: row;
}

.min_max_temperature{
    display: flex;
    flex-direction: row;
}

.temperature{
    display: flex;
    flex-direction: row;
    align-items: center;
}