*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 24px;
}
.logo{
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
.search_bar{
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
._iconButton_l8wyn_1{
    border-radius: 50px;
}
._field_jknda_1{
    padding-left: 20px;
    border-radius: 50px;
    background: white;
}
h1{
    font-family: Montserrat, sans-serif;
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 0.04em;
    text-transform: uppercase;
}

.point{
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: var(--color-amethyst-accent-400);
    box-shadow: 0 0 18px var(--color-amethyst-accent-400);
}