@import '@vega-ui/theme-core';
@import '@vega-ui/react/style.css';

.light, .dark {
    --color-primary-0: var(--color-amethyst-accent-0);
    --color-primary-100: var(--color-amethyst-accent-100);
    --color-primary-200: var(--color-amethyst-accent-200);
    --color-primary-300: var(--color-amethyst-accent-300);
    --color-primary-400: var(--color-amethyst-accent-400);
    --color-primary-500: var(--color-amethyst-accent-500);
    --color-primary-600: var(--color-amethyst-accent-600);
    --color-primary-700: var(--color-amethyst-accent-700);
    --color-primary-800: var(--color-amethyst-accent-800);
    --color-primary-900: var(--color-amethyst-accent-900);
    --color-primary-1000: var(--color-amethyst-accent-1000);
}